<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h3>Author Info:</h3>
<img src="/static/aboutmeimg.jpg" width = 200 height = 270>
<img src="/static/babyphoto.jpg" width = 200 height = 270>
<p>Amara Bhatia is a senior at Oakland Technical High School. <br>
    Some of her hobbies include, being a vegetarian, 
    talking about being a vegetarian, using vegetarianism as a personality trait, and art. 
</p>
<h3>Purpose of WeBook:</h3>
<p>To provide and easy accessible place to reccomend both readers and non-readers brand new books that they 
    may like but just have not found out about yet. 
</p>
<h3>Interactivity For Each User:</h3>
<p>1. Person opens up app that will take them to a personality quiz; 
    they will test which personality they have out of the three 
    (avid reader, pop reader, non reader) <br>
2. Based off of that they will them take another quiz where they will answer
 a series of questions such as what is your favorite genre? Least favorite? Amount of pages 
 you would like to read in a book? What are some of your favorite movies (to understand what 
 kind of plotline they like best? What kind of movie endings do you enjoy (happy, sad, etc) <br>
3. After they have filled out those two surveys/quizzes I will recommend them a book that they
 will actually consume (due to the recommendation being tailored to them) and one that would be 
 out of their comfort zone, yet they would still read. <br>
4. After the quiz they would be able to interact with the app by posting about what book they’re
 reading and their reviews - they would insert their name, a tag of the book they are reading the 
 rating of stars out of five (a quote, optional) and overall thoughts on the book. <br>
5. If before or after reading the book they were curious about others thoughts on the books 
they would have the option of looking at the spoiled reviews or non-spoiled reviews of the book. <br>
6. They would then be able to comment on specific reviews someone else wrote and spark up conversation 
with another about that specific book. Creating a conversation on the topic like one reddit would provide. <br>
   <br><br>
Ver. History 1 </p>

{% endblock %}