<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<div class="row" style="background-color:rgb(0, 0, 0)">
<h1 style = "font-family: monospace;color:rgb(157, 197, 173); font-size: 50px;margin-left: 10px">Amaras Blog</h1>
<h6 style = "font-family:Georgia, 'Times New Roman', Times, serif; font-size: 30px; color:rgb(149, 176, 160); margin-left: 10px">My Favorite Reads: </h6>
<h6 style = "font-family:Georgia, 'Times New Roman', Times, serif; font-size: 17px; color:rgb(149, 176, 160); margin-left: 10px">(in no specific order)</h6>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>


        <div class="row" style="border:none; height:210px;">
		<div class="col-xs-2">
			<img src="/static/books/bunny.jpg" style="height:300px; margin-left: 10px;" />
		</div>
		<div class="col-xs-6">  
			<h3 style = "font-family: fantasy;color:rgb(135, 164, 147);">Bunny By Mona Awad</h3>
			<p style="font-family: 'Times New Roman', Times, serif; font-size:17px; color:#f3f3f3;">  "We were just these innocent girls in the night trying to make something beautiful. We nearly died. We very nearly did, didn't we?"

                Samantha Heather Mackey couldn't be more different from the other members of her master's program at New England's elite Warren University. A self-conscious scholarship student who prefers the company of her imagination to that of most people, she is utterly repelled by the rest of her fiction writing cohort--a clique of unbearably twee rich girls who call each other "Bunny," and are often found entangled in a group hug so tight it seems their bodies might become permanently fused.
                
                But everything changes when Samantha receives an invitation to the Bunnies' exclusive monthly "Smut Salon," and finds herself drawn as if by magic to their front door--ditching her only friend, Ava, an audacious art school dropout, in the process. As Samantha plunges deeper and deeper into Bunny world, and starts to take part in the off-campus "Workshop" where they devise their monstrous creations, the edges of reality begin to blur, and her friendships with Ava and the Bunnies are brought into deadly collision.
                
                A spellbinding, down-the-rabbit-hole tale about loneliness and belonging, creativity and agency, and female friendship and desire, Bunny is the dazzlingly original second book from an author with tremendous "insight into the often-baffling complexities of being a woman" (The Atlantic)</p>
		</div>
       </div>
	
       <div class="row" style="border:none; height:210px;">
		<div class="col-xs-2">
            <br><br><br><br><br><br><br><br><br><br><br>
			<img src="/static/books/janeeyre.jpg" style="height:300px; margin-left: 10px;" />
		</div>
		<div class="col-xs-6">
            <br><br><br><br><br><br><br><br><br><br>  <br>
			<h3 style = "font-family: fantasy;color:rgb(135, 164, 147);">Jane Eyre by Charlotte Bronte</h3>
			<p style="font-family: 'Times New Roman', Times, serif; font-size:17px; color:#f3f3f3;"> Orphaned as a child, Jane has felt an outcast her whole young life. Her courage is tested once again when she arrives at Thornfield Hall, where she has been hired by the brooding, proud Edward Rochester to care for his ward Adèle. Jane finds herself drawn to his troubled yet kind spirit. She falls in love. Hard.

                But there is a terrifying secret inside the gloomy, forbidding Thornfield Hall. Is Rochester hiding from Jane? Will Jane be left heartbroken and exiled once again? </p>
		</div>
        </div>


        <div class="row" style="border:none; height:210px;">
        <div class="col-xs-2">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<img src="/static/books/lookingalaska.jpg" style="height:300px; margin-left: 10px;" />
		</div>
		<div class="col-xs-6">
            <br><br><br><br><br><br><br><br><br><br>  <br><br><br><br><br><br>
			<h3 style = "font-family: fantasy;color:rgb(135, 164, 147);">Looking for Alaska by John Green</h3>
			<p style="font-family: 'Times New Roman', Times, serif; font-size:17px; color:#f3f3f3;"> Before. Miles “Pudge” Halter is done with his safe life at home. His whole life has been one big non-event, and his obsession with famous last words has only made him crave “the Great Perhaps” even more (Francois Rabelais, poet). He heads off to the sometimes crazy and anything-but-boring world of Culver Creek Boarding School, and his life becomes the opposite of safe. Because down the hall is Alaska Young. The gorgeous, clever, funny, sexy, self-destructive, screwed up, and utterly fascinating Alaska Young. She is an event unto herself. She pulls Pudge into her world, launches him into the Great Perhaps, and steals his heart. Then. . . .
                After. Nothing is ever the same.</p>
		</div>
    </div>
	


        <div class="row" style="border:none; height:210px;">
        <div class="col-xs-2">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<img src="/static/books/outofthisfurnace.jpg" style="height:300px; margin-left: 10px;" />
		</div>
		<div class="col-xs-6">
            <br><br><br><br><br><br><br><br><br><br>  <br><br><br><br><br><br><br><br><br><br><br><br>
			<h3 style = "font-family: fantasy;color:rgb(135, 164, 147);">Out of this Furnace by Thomas Bell</h3>
			<p style="font-family: 'Times New Roman', Times, serif; font-size:17px; color:#f3f3f3;"> Out of This Furnace is Thomas Bell’s most compelling achievement.  Its story of three generations of an immigrant Slovak family -- the Dobrejcaks -- still stands as a fresh and extraordinary accomplishment.

                The novel begins in the mid-1880s with the naive blundering career of Djuro Kracha. It tracks his arrival from the old country as he walked from New York to White Haven, his later migration to the steel mills of Braddock, Pennsylvania, and his eventual downfall through foolish financial speculations and an extramarital affair. The second generation is represented by Kracha’s daughter, Mary, who married Mike Dobrejcak, a steel worker. Their decent lives, made desperate by the inhuman working conditions of the mills, were held together by the warm bonds of their family life, and Mike’s political idealism set an example for the children. Dobie Dobrejcak, the third generation, came of age in the 1920s determined not to be sacrificed to the mills. His involvement in the successful unionization of the steel industry climaxed a half-century struggle to establish economic justice for the workers.
                
                Out of This Furnace is a document of ethnic heritage and of a violent and cruel period in our history, but it is also a superb story. The writing is strong and forthright, and the novel builds constantly to its triumphantly human conclusion. </p>
		</div>
        </div>



        <div class="col-xs-2">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<img src="/static/books/littlelife.jpg" style="height:300px; margin-left: 10px;" />
		</div>
		<div class="col-xs-6">
            <br><br><br><br><br><br><br><br><br><br>  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<h3 style = "font-family: fantasy;color:rgb(135, 164, 147);">A Little Life by Hanya Yanagihara</h3>
			<p style="font-family: 'Times New Roman', Times, serif; font-size:17px; color:#f3f3f3;"> When four classmates from a small Massachusetts college move to New York to make their way, they're broke, adrift, and buoyed only by their friendship and ambition. There is kind, handsome Willem, an aspiring actor; JB, a quick-witted, sometimes cruel Brooklyn-born painter seeking entry to the art world; Malcolm, a frustrated architect at a prominent firm; and withdrawn, brilliant, enigmatic Jude, who serves as their center of gravity.

                Over the decades, their relationships deepen and darken, tinged by addiction, success, and pride. Yet their greatest challenge, each comes to realize, is Jude himself, by midlife a terrifyingly talented litigator yet an increasingly broken man, his mind and body scarred by an unspeakable childhood, and haunted by what he fears is a degree of trauma that he’ll not only be unable to overcome—but that will define his life forever.</p>
		</div>
</div>
{% endblock %}