{% extends 'base.html' %}

{% block body %}
<div class="row" style="background-color:rgb(0, 0, 0); color: aliceblue ;">

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Posts</h1>
    </div>
    <div class="col">
        <a href="/bookreview/new" class="btn btn-primary btn-sm mt-5" role="button">New Book Review</a>
    </div>
</div>

{% if bookreviews %}
    {% for bookreview in bookreviews %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-7 text-success" >Date</h3>
                {% endif %}
                <a href="/bookreview/delete/{{bookreview.id}}">Delete</a> - 
                <a href="/bookreview/{{bookreview.id}}">
                    {{moment(bookreview.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-7 text-success">User</h3>
                {% endif %}
                <p style = "color: aliceblue;">{{bookreview.author.username}}</p>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-7 text-success">Book Title</h3>
                {% endif %}
                <p style = "color: aliceblue;">{{bookreview.booktitle}}</p>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-7 text-success">Author</h3>
                {% endif %}
                <p style = "color: aliceblue;">{{bookreview.authorname}}</p>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-7 text-success">Rating</h3>
                {% endif %}
                 <p style = "color: aliceblue;">{{bookreview.rating}}/5</p>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-7 text-success">Thoughts?</h3>
                {% endif %}
                <p style = "color: aliceblue;"> {{bookreview.userthoughts}}</p>

            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-7 text-success">Spoilers?</h3>
                {% endif %}
               <p style = "color: aliceblue;"> {{bookreview.spoilers}}</p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Posts</h1>
</div>
{% endif %}

{% endblock %}


