{% extends 'base.html' %}

{% block body %}
<div class="row" style="background-color:rgb(0, 0, 0)">


<h1>Welcome to WeBook</h1>
<img src="/static/webookhomepg.png" width = 1400 height = 700>
<h5 class="h1">Whats our goal:</h5>
<p class="p1" style = "color: aliceblue;">Our goal is to create an interactive application where the user can not only get books recomended to them but also write 
    reviews about their favortie books or books they disliked. We want to create a place for people to share their opinion and start 
    conversations about liturature. We also want to provide a place for non-readers to find a community within the book world by taking 
    our quiz and getting a book reccomended to them or seeing reviews on other books to get an idea for the kinds of books they would enjoy 
    reading. 
    <br>Here is a guide on how to navigate this website: <br>
    If you look at the top of this page you will see the navbar, if you look from the left to the right that is how I will be explaining what each page means. 
    <br>Page 1: WeBook, if you click on this it will take you to the home page (the page we are on right now)
    <br>Page 2: Book Review, click this page to read about other peoples book reviews as well as write a review of a book yourself. 
    <br>Page 3: Quiz, click this page to take the quiz where we will try and find a book to suit you based off of these parameters.
    <br>Page 4: About Us, click on this page to learn more about us and who we are. 
  </p>  <p style = "color: rgb(95, 107, 117);"><br>Version 1.0</p>


</div>
{% endblock %}